.storage {
  margin: 0 1.5rem;
  font-size: 1.4rem;
}

.storage__btn {
  padding: 0.8rem 1rem;
  cursor: pointer;
  background: linear-gradient(to bottom, #8fe21b 0%, #6cb30a 100%);
  border-radius: 0.4rem;
  border: none;
  color: #fff;
  font-size: inherit;
}

.storage__btn:hover {
  background: linear-gradient(
    to bottom,
    rgba(158, 251, 30, 1) 0%,
    rgba(121, 200, 12, 1) 100%
  );
}

.storage__content {
  display: none;
  position: absolute;
  left: 1rem;
  right: 1rem;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  border: 1px solid #BFBFBF;
  max-height: 95vh;
  overflow-y: scroll;
  border-radius: 1rem;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
  justify-content: center;
}

.storage:hover .storage__content {
  display: flex;
}
